@charset "utf-8";
/* CSS Document */
.main_section {
	overflow: hidden;
	position: relative;
}
.body_bg {
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}
.page_heading {
	background-color: var(--dark-red);
	background-image: none;
}
.bio {
	display: flex;
	flex-direction: column;
	width: 80%;
}
.icon img {
	height: 100px;
	width: 100px;
}
.person {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 3%;
	width: 48%;
}
.column {
	align-self: flex-start;
}
.person h3, .person p {
	width: 100%;
}
.bio p, .bio h3 {
	margin-top: 3%;
	margin-bottom: 0px;
	padding-left: 3%;
}
.icon {
	margin-top: 5%;
}
.row {
	position: relative;
	justify-content: space-around;
}
@media (min-width: 321px) and (max-width: 960px) {
	.person {
		width: 90%;
	}
	.row {
		padding-top: 0px;
		padding-bottom: 2%;
	}
}