@charset "utf-8";
/* CSS Document */
.page_heading {
	background-color: var(--dark-green-blue);
	background-image: none;
}
.page_heading img {
	top: -90%;
}
.image_container {
	padding-top: 20px;
	padding-bottom: 20px;
}
.article ol {
	padding-left: 10%;
	padding-right: 5%;
	color: var(--medium-blue);
	margin-left: 20px;
	margin-top: 0px;
}